// sass --watch assets/sass/style.scss assets/css/style.css --style compressed
@import 'partials/colors';

body {
    background: $extra-light-gray;
    overflow-x: hidden;
    height: 100%;
}

.column {
    padding-left: 0;
    padding-right: 0;
}

.left {
    float: left;
}

.mainSlider {
    width: 100vw;
    max-width: unset;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $brown;

    .container {
        width: 100vw;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;

        .section {
            position: relative;

            .block {
                color: #fff;
                text-align: center;

                h1 {
                    font-family: "museo-sans-rounded", sans-serif;
                    font-weight: 700;
                }

                p {
                    font-family: "museo-sans-rounded", sans-serif;
                    font-weight: 500;
                }

                .buttons {
                    margin: 0 auto;

                    .fb {
                        font-family: museo-sans, sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        color: #fff;
                        background: $gradient;
                    }

                    .phone {
                        font-family: museo-sans, sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        color: $gray;
                        background-color: $light-gray;
                    }
                }
            }
        }
    }

    .footer1 {
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}

.sectionTwo {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    overflow-x: hidden;
    background: #F7F7F7;

    .content {
        margin: 0 auto;

        h1 {
            font-family: museo-sans, sans-serif;
            font-weight: 300;
        }
    }

    .phoneOne {
        margin: 0 auto;
    }

    .fbTwo {
        border: 1px $gray solid;
        font-family: museo-sans, sans-serif;
        font-style: normal;
        font-weight: 300;
        color: #000;
        background-color: transparent;
        margin: 0 auto;
    }
}

.containerThree {
    background: #fff;

    .sectionThree {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
        overflow-x: hidden;
        background: #fff;

        .content {
            margin: 0 auto;

            h1 {
                font-family: museo-sans, sans-serif;
                font-weight: 300;
            }

            p {
                font-family: museo-sans, sans-serif;
                font-weight: 300;
            }
        }

        .phoneTwo {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.containerFour {
    width: 100vw;
    background: #FAFAFA;

    .sectionFour {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
        overflow-x: hidden;
        background: #FAFAFA;

        .buttons {
            margin: 0 auto;

            .fbThree {
                font-family: museo-sans, sans-serif;
                font-style: normal;
                font-weight: 700;
                color: #fff;
                background: $salmon;
            }

            .phoneBtn {
                border: 1px $gray solid;
                font-family: museo-sans, sans-serif;
                font-style: normal;
                font-weight: 300;
                color: #000;
                background-color: transparent;
            }
        }
    }
}

.thankYou {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #ffffffe6;
    position: fixed;
    top: 0;

    .content {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        text-align: center;

        h1 {
            font-family: "museo-sans-rounded", sans-serif;
            font-weight: 700;
            color: $salmon;
        }

        p {
            font-family: "museo-sans-rounded", sans-serif;
            font-weight: 500;
            color: $gray;
        }

        img {
            height: 85px;
            width: 85px;
            margin: 0 auto;
        }
    }
}

div.mobile {
    width: 100vw;
    height: 100vh;
    background: #ffffffe6;
    position: fixed;
    top: 0;
    display: none;

    .content {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background: #fff;
        text-align: center;

        .phone {
            h1 {
                font-family: museo-sans, sans-serif;
                font-weight: 700;
                margin-left: auto;
                margin-right: auto;
            }

            h2 {
                font-family: museo-sans, sans-serif;
                font-weight: 700;
                color: $gray;
            }

            p {
                font-family: museo-sans, sans-serif;
                font-weight: 300;
                color: $gray;
            }

            button {
                font-family: museo-sans, sans-serif;
                font-style: normal;
                font-weight: 700;
                color: #fff;
                background: $salmon;
            }

            .inputs {
                .tel {
                    background: $light-gray;
                    color: #000;
                    font-family: museo-sans, sans-serif;
                    font-weight: 700;
                }

                .CC {
                    background: $light-gray;
                    border-radius: 8px;
                    color: #000;
                    font-family: museo-sans, sans-serif;
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .row {
        display: block;
    }

    .mainSlider {
        height: 100vh;
        overflow: hidden;
        .container {
            height: 100%;
            overflow: hidden;
            background: #0000001a;

            .header {
                height: 50px;

                .logo {
                    height: 40px;
                    margin-left: 8px;
                    margin-top: 8px;
                }
            }

            .section {
                top: 50%;
                margin-top: -104px;

                .block {
                    h1 {
                        font-size: 34px;
                    }

                    p {
                        font-size: 17px;
                    }

                    .p {
                        margin-top: 10px;
                    }

                    .buttons {
                        width: 200px;

                        * {
                            margin-top: 15px;
                        }

                        button {
                            width: 200px;
                            height: 50px;
                            border-radius: 8px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .footer1 {position: -webkit-sticky;
        position: sticky;bottom: 0;
        width: 100vw;}
    }

    .sectionTwo {
        padding-right: 10px;
        padding-top: 30px;

        .content {
            p {
                line-height: 20px;
                font-size: 16px;
                margin-top: 20px;
                font-family: museo-sans-rounded, sans-serif;
                font-weight: 300;
            }
        }

        .phoneOne {
            margin: 0;
            width: 96vw;
            margin-top: 20px;

            &.mobile {
                display: block;
            }

            &.desktop {
                display: none;
            }
        }

        .fbTwo {
            width: 200px;
            height: 40px;
            border-radius: 6px;
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .containerThree {
        padding-top: 30px;

        .sectionThree {
            .content {
                padding-right: 10px;
                padding-left: 10px;

                p {
                    font-family: museo-sans-rounded, sans-serif;
                    font-weight: 300;
                    margin-top: 20px;
                }
            }

            .phoneTwo {
                width: 320px;
                margin-top: 60px;
                margin-bottom: 30px;
            }
        }
    }

    .sectionFour {
        padding-top: 25px;
        padding-bottom: 40px;

        .buttons {
            margin: 0 auto;
            width: 200px;

            .fbThree,
            .phoneBtn {
                width: 200px;
                height: 40px;
                border-radius: 6px;
                font-size: 14px;
                margin-top: 15px;
            }
        }
    }

    .thankYou {
        .content {
            height: 256px;
            margin-top: -128px;
            top: 50%;

            h1 {
                font-size: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            p {
                line-height: 20px;
                font-size: 16px;
            }

            img {
                margin-top: 20px;
                height: 70px;
            }
        }
    }

    div.mobile {
        .content {
            height: 320px;
            top: 50%;
            margin-top: -160px;

            // box-shadow: 3px 3px 25px #0000004d;
            // border-radius: 15px;
            .phone {
                padding-top: 10px;

                .arrow {
                    width: 25px;
                    margin-left: 10px;
                    height: 25px;
                }

                h1 {
                    font-size: 20px;
                    width: 200px;
                    padding-top: 3px;
                }

                h2 {
                    font-size: 17px;
                    padding-top: 30px;
                }

                p {
                    font-size: 12px;
                    line-height: 16px;
                }

                button {
                    margin: 0 auto;
                    width: 200px;
                    height: 40px;
                    border-radius: 6px;
                    font-size: 14px;
                    margin-top: 40px;
                }

                .inputs {
                    width: 230px;
                    margin: 0 auto;
                    padding-top: 25px;
                    padding-bottom: 25px;

                    .tel {
                        width: 180px;
                        height: 40px;
                        border-radius: 6px;
                        font-size: 23px;
                        padding-left: 7px;
                        font-weight: 300;

                        &::placeholder {
                            font-size: 18px;
                        }
                    }

                    .CC {
                        width: 40px;
                        height: 40px;
                        border-radius: 6px;
                        font-size: 23px;
                        font-weight: 300;
                        margin-right: 8px;

                        &::placeholder {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .row {
        display: block;
    }

    .mainSlider {
        height: 100vh;

        .container {
            height: 100%;
            overflow: hidden;
            background: #0000001a;

            .header {
                height: 50px;

                .logo {
                    height: 40px;
                    margin-left: 8px;
                    margin-top: 8px;
                }
            }

            .section {
                top: 50%;
                margin-top: -104px;

                .block {
                    h1 {
                        font-size: 34px;
                    }

                    p {
                        font-size: 17px;
                    }

                    .p {
                        margin-top: 10px;
                    }

                    .buttons {
                        width: 200px;

                        * {
                            margin-top: 15px;
                        }

                        button {
                            width: 200px;
                            height: 50px;
                            border-radius: 8px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .footer1 {}
    }

    .container {
        width: 90%;
    }

    .sectionTwo {
        padding-top: 30px;
        width: 90%;

        .content {
            p {
                line-height: 20px;
                font-size: 16px;
                margin-top: 20px;
                font-family: museo-sans-rounded, sans-serif;
                font-weight: 300;
            }
        }

        .phoneOne {
            margin: 0 auto;
            width: 60vw;
            margin-top: 20px;

            &.mobile {
                display: block;
            }

            &.desktop {
                display: none;
            }
        }

        .fbTwo {
            width: 200px;
            height: 40px;
            border-radius: 6px;
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    .containerThree {
        padding-top: 30px;

        .sectionThree {
            width: 80%;

            .content {
                padding-right: 0;
                padding-left: 0;

                p {
                    font-family: museo-sans-rounded, sans-serif;
                    font-weight: 300;
                    margin-top: 20px;
                }
            }

            .phoneTwo {
                width: 380px;
                margin-top: 60px;
                margin-bottom: 30px;
            }
        }
    }

    .sectionFour {
        padding-top: 25px;
        padding-bottom: 40px;

        .buttons {
            margin: 0 auto;
            width: 200px;

            .fbThree,
            .phoneBtn {
                width: 200px;
                height: 40px;
                border-radius: 6px;
                font-size: 14px;
                margin-top: 15px;
            }
        }
    }

    .thankYou {
        .content {
            height: 256px;
            margin-top: -128px;
            top: 50%;
            width: 600px;
            box-shadow: 3px 3px 25px #0000004d;
            border-radius: 15px;
            h1 {
                font-size: 50px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            p {
                line-height: 27px;
                font-size: 22px;
            }

            img {
                margin-top: 20px;
                height: 70px;
            }
        }
    }

    div.mobile {
        .content {
            height: 420px;
            top: 50%;
            margin-top: -220px;
            width: 320px;
            box-shadow: 3px 3px 25px #0000004d;
            border-radius: 15px;
            padding-top: 10px;
            .phone {
                padding-top: 10px;

                .arrow {
                    width: 25px;
                    margin-left: 10px;
                    height: 25px;
                }

                h1 {
                    font-size: 20px;
                    width: 200px;
                    padding-top: 3px;
                }

                h2 {
                    font-size: 17px;
                    padding-top: 30px;
                }

                p {
                    font-size: 12px;
                    line-height: 16px;
                }

                button {
                    margin: 0 auto;
                    width: 200px;
                    height: 40px;
                    border-radius: 6px;
                    font-size: 14px;
                    margin-top: 40px;
                }

                .inputs {
                    width: 230px;
                    margin: 0 auto;
                    padding-top: 25px;
                    padding-bottom: 25px;

                    .tel {
                        width: 180px;
                        height: 40px;
                        border-radius: 6px;
                        font-size: 23px;
                        padding-left: 7px;
                        font-weight: 300;

                        &::placeholder {
                            font-size: 18px;
                        }
                    }

                    .CC {
                        width: 40px;
                        height: 40px;
                        border-radius: 6px;
                        font-size: 23px;
                        font-weight: 300;
                        margin-right: 8px;

                        &::placeholder {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1560px) {
    .mainSlider {
        height: 100vh;

        .container {
            .header {
                height: 100px;

                .logo {
                    height: 54px;
                    margin-left: 50px;
                    margin-top: 40px;
                }
            }

            .section {
                top: 50vh;
                margin-top: -270px;

                .block {
                    h1 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 25px;
                    }

                    .p {
                        margin-top: 20px;
                    }

                    .buttons {
                        width: 300px;

                        * {
                            margin-top: 20px;
                        }

                        button {
                            width: 300px;
                            height: 60px;
                            border-radius: 11px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .sectionTwo {
        width: 90%;
        margin: 0 auto;

        .content {
            h1 {
                font-size: 20px;
                padding-right: 150px;
            }

            p {
                font-size: 25px;
                font-family: museo-sans, sans-serif;
                font-weight: 300;
            }

            .xl-4 {
                width: 30%;
            }

            .xl-8 {
                width: 60%;
            }
        }

        .phoneOne {
            width: 837px;
            margin: 0 auto;

            &.mobile {
                display: none;
            }

            &.desktop {
                display: block;
            }
        }

        .fbTwo {
            border: 1px $gray solid;
            width: 300px;
            height: 60px;
            border-radius: 11px;
            font-size: 20px;
            margin-bottom: 50px;
        }
    }

    .containerThree {
        height: 650px;

        .sectionThree {
            width: 80%;
            max-width: unset;
            margin: 0 auto;
            padding-top: 50px;

            .content {
                h1 {
                    font-size: 20px;
                    padding-right: 150px;
                }

                p {
                    font-size: 25px;
                    font-family: museo-sans, sans-serif;
                    font-weight: 300;
                }

                .xl-4 {
                    width: 30%;
                }

                .xl-8 {
                    width: 60%;
                }
            }

            .phoneTwo {
                width: 642px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 70px;
            }
        }
    }

    .containerFour {

        width: 100vw;
        .sectionFour {
            width: 100vw;
            max-width: unset;

            padding-left: 0px;
            padding-right: 0px;
            // margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 50px;
            .buttons {

                width: 700px;
                margin: 0 auto;
                .fbThree {
                    margin-right: 100px;
                    width: 300px;
                    height: 60px;
                    border-radius: 11px;
                    font-size: 20px;
                    float: left;
                }

                .phoneBtn {
                    width: 300px;
                    height: 60px;
                    border-radius: 11px;
                    font-size: 20px;
                }
            }
        }
    }

    div.mobile {
        .content {
            height: 420px;
            top: 50%;
            margin-top: -220px;
            width: 320px;
            box-shadow: 3px 3px 25px #0000004d;
            border-radius: 15px;
            padding-top: 10px;
            .phone {
                padding-top: 10px;

                .arrow {
                    width: 25px;
                    margin-left: 10px;
                    height: 25px;
                }

                h1 {
                    font-size: 20px;
                    width: 200px;
                    padding-top: 3px;
                }

                h2 {
                    font-size: 17px;
                    padding-top: 30px;
                }

                p {
                    font-size: 12px;
                    line-height: 16px;
                }

                button {
                    margin: 0 auto;
                    width: 200px;
                    height: 40px;
                    border-radius: 6px;
                    font-size: 14px;
                    margin-top: 40px;
                }

                .inputs {
                    width: 230px;
                    margin: 0 auto;
                    padding-top: 25px;
                    padding-bottom: 25px;

                    .tel {
                        width: 180px;
                        height: 40px;
                        border-radius: 6px;
                        font-size: 23px;
                        padding-left: 7px;
                        font-weight: 300;

                        &::placeholder {
                            font-size: 18px;
                        }
                    }

                    .CC {
                        width: 40px;
                        height: 40px;
                        border-radius: 6px;
                        font-size: 23px;
                        font-weight: 300;
                        margin-right: 8px;

                        &::placeholder {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .thankYou {
        .content {
            height: 256px;
            margin-top: -128px;
            top: 50%;
            width: 600px;
            box-shadow: 3px 3px 25px #0000004d;
            border-radius: 15px;
            h1 {
                font-size: 50px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            p {
                line-height: 27px;
                font-size: 22px;
            }

            img {
                margin-top: 20px;
                height: 70px;
            }
        }
    }
}

@media only screen and (min-width: 1560px) {
    .container {
        width: 100vw;
        max-width: 1560px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
    }

    .mainSlider {
        width: 100vw;
        max-width: unset;
        padding-left: 0px;
        padding-right: 0px;
        overflow-x: hidden;
        background-image: url('../images/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $brown;
        height: 100vh;

        .container {
            width: 100vw;
            max-width: 1560px;
            padding-left: 0px;
            padding-right: 0px;
            margin: 0 auto;

            .header {
                height: 100px;

                .logo {
                    height: 54px;
                    margin-left: 50px;
                    margin-top: 40px;
                }
            }

            .section {
                position: relative;
                top: 50vh;
                margin-top: -340px;

                .block {
                    color: #fff;
                    text-align: center;

                    h1 {
                        font-family: "museo-sans-rounded", sans-serif;
                        font-weight: 700;
                        font-size: 74px;
                    }

                    p {
                        font-family: "museo-sans-rounded", sans-serif;
                        font-weight: 500;
                        font-size: 35px;
                    }

                    .p {
                        margin-top: 30px;
                    }

                    .buttons {
                        width: 400px;
                        margin: 0 auto;

                        * {
                            margin-top: 30px;
                        }

                        button {
                            width: 400px;
                            height: 70px;
                            border-radius: 13px;
                        }

                        .fb {
                            font-family: museo-sans, sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 27px;
                            color: #fff;
                            background: $gradient;
                        }

                        .phone {
                            font-family: museo-sans, sans-serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 27px;
                            color: $gray;
                            background-color: $light-gray;
                        }
                    }
                }
            }
        }

        .footer1 {
            position: absolute;
            bottom: 0;
            width: 100vw;
        }
    }

    .sectionTwo {
        width: 100vw;
        max-width: 1560px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
        overflow-x: hidden;
        background: #F7F7F7;
        height: 1200px;

        .content {
            width: 1024px;
            margin: 0 auto;

            h1 {
                font-family: museo-sans, sans-serif;
                font-weight: 300;
                font-size: 25px;
                padding-right: 150px;
            }

            p {
                font-family: museo-sans, sans-serif;
                font-weight: 300;
                font-size: 35px;
            }
        }

        .phoneOne {
            width: 1237px;
            margin: 0 auto;

            &.mobile {
                display: none;
            }

            &.desktop {
                display: block;
            }
        }

        .fbTwo {
            width: 400px;
            height: 70px;
            border-radius: 13px;
            border: 1px $gray solid;
            font-family: museo-sans, sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 27px;
            color: #000;
            background-color: transparent;
            margin: 0 auto;
        }
    }

    .containerThree {
        width: 100vw;
        background: #fff;

        .sectionThree {
            width: 100vw;
            max-width: 1560px;
            padding-left: 0px;
            padding-right: 0px;
            margin: 0 auto;
            overflow-x: hidden;
            background: #fff;
            padding-top: 90px;

            .content {
                width: 1024px;
                margin: 0 auto;

                h1 {
                    font-family: museo-sans, sans-serif;
                    font-weight: 300;
                    font-size: 25px;
                    padding-right: 150px;
                }

                p {
                    font-family: museo-sans, sans-serif;
                    font-weight: 300;
                    font-size: 35px;
                }
            }

            .phoneTwo {
                width: 842px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 150px;
            }
        }
    }

    .containerFour {
        width: 100vw;
        background: #FAFAFA;

        .sectionFour {
            width: 100vw;
            max-width: 1560px;
            padding-left: 0px;
            padding-right: 0px;
            margin: 0 auto;
            overflow-x: hidden;
            background: #FAFAFA;
            padding-top: 90px;
            padding-bottom: 90px;

            .buttons {
                width: 900px;
                margin: 0 auto;

                .fbThree {
                    width: 400px;
                    height: 70px;
                    border-radius: 13px;
                    font-family: museo-sans, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 27px;
                    color: #fff;
                    background: $salmon;
                    float: left;
                    margin-right: 100px;
                }

                .phoneBtn {
                    width: 400px;
                    height: 70px;
                    border-radius: 13px;
                    border: 1px $gray solid;
                    font-family: museo-sans, sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 27px;
                    color: #000;
                    background-color: transparent;
                }
            }
        }
    }

    .thankYou {
        .content {
            height: 256px;
            margin-top: -128px;
            top: 50%;
            width: 600px;
            box-shadow: 3px 3px 25px #0000004d;
            border-radius: 15px;
            h1 {
                font-size: 50px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            p {
                line-height: 27px;
                font-size: 22px;
            }

            img {
                margin-top: 20px;
                height: 70px;
            }
        }
    }

    div.mobile {
        .content {
            height: 420px;
            top: 50%;
            margin-top: -220px;
            width: 320px;
            box-shadow: 3px 3px 25px #0000004d;
            border-radius: 15px;
            padding-top: 10px;
            .phone {
                padding-top: 10px;

                .arrow {
                    width: 25px;
                    margin-left: 10px;
                    height: 25px;
                }

                h1 {
                    font-size: 20px;
                    width: 200px;
                    padding-top: 3px;
                }

                h2 {
                    font-size: 17px;
                    padding-top: 30px;
                }

                p {
                    font-size: 12px;
                    line-height: 16px;
                }

                button {
                    margin: 0 auto;
                    width: 200px;
                    height: 40px;
                    border-radius: 6px;
                    font-size: 14px;
                    margin-top: 40px;
                }

                .inputs {
                    width: 230px;
                    margin: 0 auto;
                    padding-top: 25px;
                    padding-bottom: 25px;

                    .tel {
                        width: 180px;
                        height: 40px;
                        border-radius: 6px;
                        font-size: 23px;
                        padding-left: 7px;
                        font-weight: 300;

                        &::placeholder {
                            font-size: 18px;
                        }
                    }

                    .CC {
                        width: 40px;
                        height: 40px;
                        border-radius: 6px;
                        font-size: 23px;
                        font-weight: 300;
                        margin-right: 8px;

                        &::placeholder {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}